/* your styles go here */

.aboutmestripe {
	background-color: #f7f7f7; overflow: scroll; min-width: 100%;
}

.stripe { 
	background-color: #f7f7f7; overflow: scroll; min-width: 100%; 
}

.para {
	margin-left: 30px;
	margin-right: 30px;
}

.borderbox {
	border-size:1px;
	border-style:solid;
	border-color:rgb(220,231,232);
	border-bottom: 0;
}

.centered {
	text-align: center;
	color: #b3b3ff;
}

.marginFrog {
	margin-left: 11%;
}

.marginArduinna {
	margin-left: 11%;
}

/*.btn:hover{
	border:1px solid black;
}*/
